<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Courgette|Gloria+Hallelujah|Indie+Flower|Permanent+Marker|Varela+Round" rel="stylesheet">

  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a style="font-family:Permanent Marker" class="navbar-brand" href="/"> Parcel Destination </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/"></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div>
    </div>
  </div>
</body>

</html>
