{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles%}
  {{super()}}
{% endblock%}

{%block content%}
  <div class="container text-center">

    <ul>
      <li>{{single_order.weight}}</li>
      <li>{{single_order.destination}}</li>
      <li>{{single_order.token}}</li>
      <li>{{single_order.ParcelTypename}}</li>
      <li>{{single_order.DeliveryTypename}}</li>
      <li>{{single_order.deliveryStatus}}</li>
      <li>{{single_order.NumberofItem}}</li>
      <li>{{single_order.totalprice}}</li>
    </ul>

    <a class="btn btn-danger" href="{{url_for('main.cancel_order',token = single_order.token)}}">Cancel Order</a>
    <a class="btn btn-primary" href="{{url_for('main.receipientdetails',tokenid = single_order.token,userid = current_user.identification)}}">Add Receipient</a>
    <a class='btn btn-primary'href="{{url_for('main.confirm_order',tokenid = single_order.token,userID = current_user.identification)}}">Confirm Order</a>
  </div>
{%endblock%}